@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
  
    --font-size-paragraph: 16px;
}  

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

body {
    background-color: var(--light-pink);
    background-image: url(assets/images/background-pattern-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.faqs-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    padding: 20px;
    background-color: var(--white);
    border-radius: 2%;
    top: 20%;
    left: 5%;
    right: 5%;
}

header {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

header img {
    width: 25px;
    max-width: 100%;
}

.question {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 25px;
}

.question:hover {
    color: var(--grayish-purple);
    cursor: pointer;
}

.faq .text {
    font-size: 13px;
    color: var(--grayish-purple);
    font-weight: 400;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
}

.faq .text.show {
    max-height: 500px; /* Adjust the max-height value to fit the content */
    opacity: 1;
}


.line {
    width: 100%; 
    height: 0.5px;
    background-color: hsl(30, 18%, 87%);
    margin: 15px 0;
}

@media (min-width: 768px) {
    body {
        background-image: url(assets/images/background-pattern-desktop.svg);
        height: 250px;
    }

    .faqs-card {
        max-width: 537.6px;
        left: 15%;
        right: 15%;
    }
}